<div class="container">
  <div class="hero">
    <div class="hero-content">
      <h1>Dobrodošli u štampaj.me</h1>
      <p>Štampa visokog kvaliteta po povoljnim cijenama</p>
      <button class="btn btn-primary">Poruči ođe</button>
    </div>
  </div>

  <h2 class="section-header">Proizvodi koje nudimo</h2>
  <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Group products in sets of 3 for larger screens -->
      <div *ngFor="let group of allProducts | slice:0:allProducts.length/3; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
        <div class="row">
          <!-- Loop through each product and display it in a column -->
          <div *ngFor="let product of allProducts.slice(i * 3, (i * 3) + 3)" class="col-12 col-md-4">
            <div class="card">
              <img src="http://localhost:4000{{product.productImage}}" class="card-img-top" alt="{{product.productImage}}">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<!--
  <h2 class="section-header">Place Your Order</h2>
  <form>
    <div class="form-group">
      <label for="name">Your Name</label>
      <input type="text" id="name" class="form-control" placeholder="Enter your name">
    </div>

    <button type="submit" class="btn btn-primary">Submit Order</button>
  </form>
-->
</div>
